{% extends 'parciales/list.html' %}

{% block btn_creacion %}
    <div class="mb-2">
        <button class="rounded-circle btn btn-outline-info" type="button" onclick="openModal('{% url 'inv:create-assignment-cap' %}', 'createModal')" title="Nuevo registro: {{ entity }}" >
            <i class="fas fa-plus"></i>
        </button>
    <a class="btn btn-primary" href="{% url 'inv:export-hw' %}" role="button">Exportar Excel</a>
    </div>
{% endblock %}

<!--Columnas de la tabla-->
{% block cols %}
    <th>N°</th>
    <th>Empleado</th>
    <th>Equipo</th>
    <th>Ubicacion</th>
    <th>Estado</th>
    <th>Accion</th>
{% endblock %}
<!--Filas de la tabla-->
{% block filas %}
    {% for item in object_list %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.employee }}</td>
            <td>{{ item.name_equipment }}</td>
            <td>{{ item.location }}</td>
            <td>
                {% if item.state %}
                    <span class="badge rounded-pill bg-success" key="t-new">Activo</span>
                {% else %}
                    <span class="badge rounded-pill bg-danger" key="t-new">Inactivo</span>
                {% endif %}
            </td>
            <td>
                <button onclick="openModal('{% url 'inv:update-assignment-cap' item.pk %}', 'updateModal')" class="rounded-circle btn btn-outline-secondary btn-sm edit" title="Editar">
                    <i class="fas fa-pencil-alt"></i>
                </button>
                <button onclick="confirmDelete('{% url 'inv:delete-assignment-cap' item.pk %}')" class="rounded-circle btn btn-outline-danger btn-sm trash" title="Borrar">
                    <i class="fas fa-trash"></i>
                </button>
                {% csrf_token %}
            </td>
        </tr>
    {% endfor %}
 {% endblock %}