{% extends 'parciales/list.html' %}

{% block btn_creacion %}
    <div class="mb-2">
        <button class="rounded-circle btn btn-outline-info" type="button" onclick="openModal('{% url 'org:uac-create' %}', 'createModal')" title="Nuevo registro: {{ entity }}" >
            <i class="fas fa-plus"></i>
        </button>
    </div>
{% endblock %}

<!--Columnas de la tabla-->
{% block cols %}
    <th>N°</th>
    <th>Facultad</th>
    <th>Nombre</th>
    <th>Dirección</th>
    <th>Director</th>
    <th>Estado</th>
    <th>Acción</th>
{% endblock %}
<!--Filas de la tabla-->
{% block filas %}
    {% for item in object_list %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.schoolOf }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.address }}</td>
            <td>{{ item.director }}</td>
            <td>
                {% if item.state %}
                    <span class="badge rounded-pill bg-success" key="t-new">Activo</span>
                {% endif %}
            </td>
            <td>
                <button onclick="openModal('{% url 'org:uac-update' item.pk %}', 'updateModal')" class="rounded-circle btn btn-outline-secondary btn-sm edit" title="Editar">
                    <i class="fas fa-pencil-alt"></i>
                </button>
                <button onclick="confirmDelete('{% url 'org:uac-delete' item.pk %}')" class="rounded-circle btn btn-outline-danger btn-sm trash" title="Borrar">
                    <i class="fas fa-trash"></i>
                </button>
                {% csrf_token %}
            </td>
        </tr>
    {% endfor %}
 {% endblock %}