{% extends 'parciales/list.html' %}
{% block btn_creacion %}
    <div class="mb-2">
        <button class="rounded-circle btn btn-outline-info" type="button" onclick="openModal('{% url 'inv:create-brand' %}', 'createModal')" title="Nuevo registro: {{ entity }}" >
            <i class="fas fa-plus"></i>
        </button>
    </div>
{% endblock %}
<!--Columnas de la tabla-->
{% block cols %}
    <th>N°</th>
    <th>Código</th>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Estado</th>
    <th>Acción</th>
{% endblock %}
<!--Filas de la tabla-->
{% block filas %}
    {% for item in object_list %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.code }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>
                {% if item.state %}
                    <span class="rounded-circle btn btn-outline-success btn-sm "><i class="bx bx-check-circle" ></i></span>
                {%else %}
                    <span class="rounded-circle btn btn-outline-danger btn-sm"><i class="far fa-times-circle" ></i></span>
                {% endif %}
            </td>
            <td>
                <button onclick="openModal('{% url 'inv:update-brand' item.pk %}', 'updateModal')" class="rounded-circle btn btn-outline-success btn-sm edit" title="Editar">
                    <i class="fas fa-pencil-alt"></i>
                </button>
                <button onclick="confirmDelete('{% url 'inv:delete-brand' item.pk %}')" class="rounded-circle btn btn-outline-danger btn-sm trash" title="Borrar">
                    <i class="fas fa-trash"></i>
                </button>
                {% csrf_token %}
            </td>
        </tr>
    {% endfor %}
 {% endblock %}