{% extends 'parciales/form_modal.html' %}
{% block action %}{% url 'docs:create-doc' %}{% endblock %}
{% block id_error %}error_create{% endblock %}
{% block id_form %}form_create{% endblock %}
{% block btn %}
    <button id="btn_cancel_create" class="btn btn-danger" type="button" onclick="closeModal('createModal');">Cancelar</button>
    <button id="btn_create" class="btn btn-primary" type="button" onclick="ajaxRequestDoc('form_create', 'error_create', 'btn_create', {% url 'docs:create-doc' %} );">Confirmar</button>
{% endblock %}